#result{
    height: 22
}

#search_input{
    width: 30;
}

.hidden {
    display: none;
}

#page_num {
    width: 18;
}

.tree {
    height: 15;
}

#main_menu {
    height: 10;
}

#concat_option_container {
    height: 20;
}

.inline_buttom {
    margin: 1;
}